body {
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffffc1;
}

h1 {
    text-align: center;
    font-family: fantasy;
    color: #ffffff;
}

h2 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: linear-gradient(rgba(5,7,12,0.5 ), rgba(5,7,12,0.5));
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    font-size: 2rem;

}

p {
    line-height: 2rem;
    margin: 0rem 0rem 2rem 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: large;

}
li {
    margin: 0.5rem 0;
    line-height: 3rem;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#introduction {
    background: linear-gradient(rgba(5,7,12,0.5 ), rgba(5,7,12,0.5)), url("../../eat\ up/ce.jpg");;
    background-repeat: no-repeat;
    background-position: top left;
    height: 500px;
    background-attachment: fixed;
    background-size: cover 
    
}
#background {
    background: linear-gradient(rgba(5,7,12,0.75 ), rgba(5,7,12,0.75)), url("../../eat\ up/centi.jpg");;
    background-repeat: repeat;
    background-position: top left;
    height: 400px;
    background-attachment: fixed;
    
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
